.contenedor{
  width:69%;
  float: left;
  margin-right: 1rem;
  height: 31rem;
  background-color: #957bbe;
  border-radius: .25rem;
}
.sidebar{
  width:29%;
  float: right;
  height: 30rem;
  background-color:#80bdff;
  border-radius: .25rem;
}
.contenedor1{
  width:100%;
  float: left;
  margin-right: 1rem;
  height: 10rem;
  background-color: #80bdff;
  border-radius: .25rem;
}
